[submodule ".config/kitty/kitty_grab"]
	path = .config/kitty/kitty_grab
	url = https://github.com/yurikhan/kitty_grab.git
[submodule ".config/kitty/kitty-smart-scroll"]
	path = .config/kitty/kitty-smart-scroll
	url = git@github.com:yurikhan/kitty-smart-scroll.git
