[include]
  path = ~/.gitconfig.d/alias.gitconfig
  path = ~/.gitconfig.d/branching.gitconfig
  path = ~/.gitconfig.d/core.gitconfig
  path = ~/.gitconfig.d/grep.gitconfig
  path = ~/.gitconfig.d/user.gitconfig
  path = ~/.gitconfig.d/submodule.gitconfig
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool]
    trustExitCode = true
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	cbr = !git current-branch
	ps = push
	pl = pull
	pst = push --tags
  cleanup = !git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -I {} git branch -d {}
  cl = !git cleanup
  cleanup-remote= !git branch -r --merged origin/master | grep -v '^.*master' | sed s:origin/:: | xargs -n 1 -I {} git push origin --delete {}
  clr = !git cleanup-remote
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[user]
	name = Henrique Barcelos
	email = henrique@4cadia.com
