[core]
	editor = vim
	; pager = diff-so-fancy | less --tabs=4 -RFX
    ; pager = delta --diff-so-fancy
    ; pager = delta

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
	submodule = log
    tool = difftastic

[difftool]
    trustExitCode = true
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

# Use a pager for large output, just like other git commands.
[pager]
    difftool = true

[color]
	ui = true
; [color "diff-highlight"]
; 	oldNormal = red bold
; 	oldHighlight = red bold 52
; 	newNormal = green bold
; 	newHighlight = green bold 22
; [color "diff"]
; 	meta = 227
; 	frag = magenta bold
; 	commit = 227 bold
; 	old = red bold
; 	new = green bold
; 	whitespace = red reverse
[init]
	defaultBranch = master

[fetch]
	prune = true
	recurseSubmodules = on-demand

[pull]
    rebase = true

[push]
    default = current
	autoSetupRemote = true

[merge]
	ff = false

[grep]
	extendRegexp = true
	lineNumber = true

[status]
	submoduleSummary = true

[gpg]
	program = /usr/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true

[user]
	name = Henrique Barcelos
	email = 16565602+hbarcelos@users.noreply.github.com

[include]
  path = ~/.gitconfig.d/alias.gitconfig
  path = ~/.gitconfig.d/delta.gitconfig

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
